.about
    &-title
    &__container
        display: flex
        align-items: center
        justify-content: space-between
        &-text
            margin-left: 50px
            max-width: 560px
            font-weight: 300
            font-size: 34px
            line-height: 140%
@media (max-width: 1150px)
    .about
        &__container
            text-align: center
            display: flex
            flex-direction: column
            &-text
                margin-left: 0px
                margin-top: 40px
@media (max-width: 612px)
    .about
        &__container
            &-img
                max-width: 550px    
@media (max-width: 562px)
    .about
        &__container
            &-text
                font-size: 30px
            &-img
                max-width: 500px
@media (max-width: 518px)
    .about
        &-title
            font-size: 38px
        &__container
            &-img
                max-width: 450px
            &-text
                font-size: 27px
@media (max-width: 476px)
    .about
        &__container
            &-text
                font-size: 24px
            &-img
                max-width: 400px        
@media (max-width: 425px)
    .about
        &-title
            font-size: 35px
        &__container
            &-text
                line-height: 29px
                font-size: 22px
            &-img
                max-width: 350px
@media (max-width: 356px)
    .about
        &-title
            font-size: 28px
        &__container
            &-img
                max-width: 300px