.hero
    &__container
        font-weight: 300
        font-size: 24px
        line-height: 35px
        &-start
        &-text
            font-size: 42px
            line-height: 51px
        &-title
            font-weight: bold
            font-size: 64px
            line-height: 73px
            text-transform: uppercase
    &-button
        background-color: #AF31DB