.hero
    padding-bottom: 250px
    &-img
        display: none
    &__container
        margin-top: 72px
        font-weight: 300
        font-size: 24px
        line-height: 35px
        &-start
            font-size: 24px
            line-height: 35px
        &-text
            margin-bottom: 50px
            font-size: 42px
            line-height: 51px
        &-title
            max-width: 620px
            font-weight: bold
            font-size: 64px
            line-height: 73px
            text-transform: uppercase
            margin-bottom: 50px
        &-subtitle
            max-width: 562px    
            font-size: 24px
            line-height: 35px
            margin-bottom: 76px
    &-input
        max-width: 260px
        margin-right: 30px
        padding: 15px 0px 15px 25px !important
    &-button
        padding: 8px 17px 8px 17px
        font-size: 24px
@media (max-width: 1150px)
    .form
        display: flex
        flex-direction: column
    .hero
        padding-bottom: 100px
        &-img
            margin-left: auto
            margin-right: auto
            padding-bottom: 30px
            display: block
            width: 100%
            max-width: 500px
        &-input
            margin-bottom: 30px
            max-width: 100% !important
        &__container
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            text-align: center
            &-start
            &-text
                margin-bottom: 10px
            &-title
                max-width: 100%
                margin-bottom: 20px
            &-subtitle
                text-align: center
                max-width: 90%
                margin-bottom: 40px
@media (max-width: 658px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 22px
                margin-bottom: 0px
            &-text
                margin-bottom: 0px
                font-size: 38px
            &-title
                font-size: 60px
                line-height: 65px
            &-subtitle
                font-size: 22px
@media (max-width: 614px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 22px
                margin-bottom: 0px
            &-text
                font-size: 40px
            &-title
                font-size: 58px
                line-height: 60px
            &-subtitle
                font-size: 22px
@media (max-width: 614px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 22px
                margin-bottom: 0px
            &-text
                font-size: 40px
            &-title
                font-size: 52px
                line-height: 60px
            &-subtitle
                font-size: 22px
@media (max-width: 530px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 22px
                margin-bottom: 0px
            &-text
                font-size: 38px
            &-title
                font-size: 46px
                line-height: 60px
                margin-bottom: 5px
            &-subtitle
                max-width: 100%
                font-size: 22px
@media (max-width: 476px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 22px
                margin-bottom: 0px
            &-text
                font-size: 35px
            &-title
                font-size: 42px
                line-height: 50px
            &-subtitle
                font-size: 22px
@media (max-width: 436px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 20px
                line-height: 20px
                margin-bottom: 0px
            &-text
                font-size: 32px
            &-title
                font-size: 40px
                line-height: 45px
            &-subtitle
                font-size: 22px
        &-button
            font-size: 18px
@media (max-width: 416px)
    .hero
        &__container
            margin-top: 40px
            &-start
                font-size: 20px
                line-height: 20px
                margin-bottom: 0px
            &-text
                font-size: 25px
                line-height: 40px
            &-title
                font-size: 29px
                line-height: 113.4%
            &-subtitle
                line-height: 25px
                font-size: 18px